INVENTORY_DB_HOST=
INVENTORY_DB_PORT=
INVENTORY_DB_NAME=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=
INVENTORY_TEST_DB_NAME=

BILLING_DB_HOST=
BILLING_DB_PORT=
BILLING_DB_NAME=
BILLING_DB_USER=
BILLING_DB_PASSWORD=

INVENTORY_SERVICE_PORT=
BILLING_SERVICE_PORT=
INVENTORY_SERVICE_URL=
